<% layout("/layouts/boilerplate.ejs") -%>

<div class="row">
    <div class="alert alert-danger" col-6 offset-3 role="alert">
        <p>Error Code : <%= error.message %></p>
        <p>Message : <%= error.statusCode %></p>

    </div>
    <br>
    <div class="Error-img">
        <img src="https://cdn.pixabay.com/photo/2022/06/09/04/51/robot-7251710_960_720.png" 
        alt="Error-img" style="width:250px;height: 300px;margin-left: auto;
  margin-right: auto;display: block;">  
    </div>
</div>
